@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: white;

}

body {
    background-color: #000;
}

.banner {
    background-image: linear-gradient(#00000099, #31A8DD33, #00000099), url(./assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-bottom: solid 1px #33A8DB;

}

.banner-content {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.banner-content h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(#33A8DB, #1472B7);
    background-clip: text;

}

.logo {
    background-color: #00000033;
    width: 268px;
    height: 268px;
    border-radius: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin: auto;
}

.banner-content button {
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    padding: 16px 32px;
    color: #31A8DD;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 16px;

}

.banner-content p {
    margin: 16px 0 24px;

}

#course-content {
    width: 792px;
    height: 325px;
    margin: auto;
    text-align: center;
    margin-top: 69px;
margin-bottom: 100px;
}

#course-content h2 {
    color: #33A8DB;
    letter-spacing: 4px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;

}

#course-content p {
    font-weight: 400;
    font-size: 16px;
  color: #FFFFFF;
  margin: 16px 0;
}
.modules-list {

}
.modules-list .module{
    background-color: #252525;
    border: 1px solid #33A8DB;
border-radius: 57px;
width: 535px;
height: 51px;
margin: auto;
margin-bottom: 24px;
box-shadow: inset -5px 6px 8px #00000066;
align-content: center;
}
.modules-list .module span{
    color: #33A8DB;
}
#transform-world{
   background-image: url(./assets/images/woman-code.png); 
   height: 600px;
   background-size: cover;
   background-attachment: fixed;
   border-bottom: 1px #33A8DB solid ;
   border-top: 1px #33A8DB solid;

}
#transform-world p{
    width: 244px;
    height: 141px;
font-weight: 900;
font-size: 40px;
text-transform: lowercase;
text-shadow:3px 2px  #33A8DB;
margin-top: 200px;
margin-left: 200px;
}
#professional-challenges{
    text-align: center;
    width: 800px;
    margin: 100px auto;
    
}
#professional-challenges h2{
    color: #33A8DB;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 4px;
    margin-bottom: 50px;
    
}
#professional-challenges p{
    margin-top: 40px;
}
footer{
    width: 1060px;
    text-align: center;
height: 170px;
border-top: 1px #33A8DB solid;
padding:50px ;
background-image: linear-gradient(#33A8DB00 0%, #33A8DB33 100%);
}
footer .dio-logo{
    height: 44px;
    width: 310px;
}
footer p{
font-weight: 400;
font-size: 16px;

}
footer a{
font-weight: 700;
font-size: 16px;
font-style: bold;
color: #33A8DB;
text-decoration: none;
}